html, body {
  min-height: 100vh;
}

body {
    margin: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif; 
    display: flex;
    flex-direction: column; 
}

main {
  flex: 1; /* Short for flex-grow: 1 and flex-shrink: 0 */
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
}

.w-100 {
  width: 100%;
}

.project-grid {
  padding: 2rem 1rem;
}

.project {
  margin-bottom: 2rem;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)
}

@media screen and (min-width: 640px) {
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .project {
    margin-bottom: 0;
  }
}


.project-content {
  text-align: center;
}

.project-description {
  font-style: italic;
}


@media screen and (min-width: 640px) {
  .project-featured {
    grid-column-end: span 2;
    display: flex;

    align-items: flex-start;
    padding: 1rem;
    border-width: 2px;
  }

  .project-featured img {
    max-width: 40%;

    margin-right: 1rem;
  }

  .project-featured .project-title {
    color: #2c404c;
    background-color: #ffffff;
  }
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  border-top: 1px solid rgba(51, 51, 51, 0.18);
}

.project-technologies li {
  padding: 10px 10px;
  border-bottom: 0px;
}

section {
  padding: 10px;
}

.text-center {
  text-align: center;
}

.main{
  background-color: #333;
  color: white;
  margin-top: 45px;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.18);
}

iframe {
  vertical-align: bottom;
}

section:nth-child(odd) {
  background-color: lightgray;
}

.content-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  height: 30px;
  padding: 10px;
  text-align: center;
  background-color:#333;
  position: fixed;
  width: 100%;
  top: 0;
}

@media screen and (min-width: 400px) {
  .navbar {
    display: flex;
    justify-content: flex-end;
  }

  .nav-item:first-child {
    margin-right: auto;
  }
}

  .nav-item {
    text-transform: uppercase;
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px 16px;
  }
  
  /* Change the color of links on hover */
  .nav-item a:hover {
    color: lightgray;
  }
  
  /* Add a color to the active/current link */
  .nav-item.active {
    font-weight: bold;
  }

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  padding: 10px;
}

.table thead{
  background-color:#333;
  color:white;
}

.table, .table th, .table td {
  border: none;
  text-align: left;
  padding: 8px;
}

th, td {
  padding-left: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
  }

  .color-white{
    color: white;
  }

  .label {
    text-transform: uppercase;
    display: inline-block;
    width: 150px;
    margin: 5px;
  }

  .input{
    width: 400px;
  }